* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

li, a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #eefef4;
    text-decoration: none;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgb(26, 48, 41);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: centre;
    padding: 40px;
}

.logo { 
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: auto;
    max-width: 260px;

}

.nav_links {
    list-style: none;
}

.nav_links li{
    display:inline-block;
    padding: 10px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: hsl(135, 62%, 45%);
}

button {
    padding: 10px 30px;
    background-color: #eefef4;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

button:hover {
    background-color: hsl(135, 62%, 45%);
}

body {
    background-image: url(images/background_image.jpg);
    background-color: rgb(26, 48, 41);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    margin: 0;    
}

p {
    display: flex;  
    justify-content: center;
    color: #eefef4;
    margin: 40px;
    
}

.name {
  display: flex;  
  justify-content: center;
  color: #eefef4;
  align-items: center;
  font-size: 160px;
}

.cta_portfolio {
    display: flex;  
    justify-content: center;
    align-items: center;
}

.contact-form{
    color:white;
    height: 100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.contact {
    display:flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-title h2{
    font-weight: 400;
    color:#eefef4;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-title hr {
    border:none;
    width:120px;
    height: 5px;
    background-color: #eefef4;
    border-radius: 20px;
    margin-bottom:20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline:none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact textarea{
    height: 220px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 3px solid hsl(135, 62%, 45%);
}

.contact-inputs::placeholder{
    font-family: "Montserrat";
    color: #a9a9a9;
}

.contact-inputs button{
    font-size: medium;
    
}

